TRADING_MODE=PAPER
LIVE_TRADING_ENABLED=false
LIVE_ORDER_MAX_RETRIES=2
LIVE_ORDER_RETRY_BACKOFF_SECONDS=1
PAPER_INITIAL_CASH=10000000
RECOMMENDED_TRADE_RATIO=0.10
PAPER_COMMISSION_RATE=0.00015
STOP_LOSS_RATE=-0.07
TAKE_PROFIT_RATE=0.15
PARTIAL_TAKE_PROFIT_RATE=0.10
PARTIAL_TAKE_PROFIT_FRACTION=0.50
TRAILING_STOP_ACTIVATION_RATE=0.05
TRAILING_STOP_RATE=0.05
MAX_HOLDING_DAYS=20
FORCE_FLATTEN_AT_CLOSE=false
FLATTEN_BEFORE_CLOSE_MINUTES=10
PAPER_MAX_SLIPPAGE_RATE=0.02
PAPER_SIMULATED_SLIPPAGE_RATE=0.001
PAPER_MIN_AVERAGE_DAILY_VOLUME=10000
PAPER_MIN_AVERAGE_DAILY_TURNOVER=100000000
DAILY_LOSS_LIMIT_RATE=0.03
MAX_ORDER_AMOUNT=4000000
MAX_SYMBOL_EXPOSURE_AMOUNT=4000000
MAX_SYMBOL_QUANTITY=100
MAX_PORTFOLIO_EXPOSURE_AMOUNT=7000000
MAX_OPEN_POSITIONS=5
LIVE_FEE_RESERVE_RATE=0.01
TOSS_CLIENT_ID=
TOSS_CLIENT_SECRET=
TOSS_ACCOUNT_SEQ=
