TRADING_MODE=PAPER
LIVE_TRADING_ENABLED=false
LIVE_ORDER_MAX_RETRIES=2
LIVE_ORDER_RETRY_BACKOFF_SECONDS=1
PAPER_INITIAL_CASH=10000000
RECOMMENDED_TRADE_RATIO=0.10
PAPER_COMMISSION_RATE=0.00015
TOSS_CLIENT_ID=
TOSS_CLIENT_SECRET=
TOSS_ACCOUNT_SEQ=
